.footer__top {
	background: #141A20;
	color: #fff;
}

.footer__top-container {
	padding: 45px 0;
}

.footer__top-inner {
	display: grid;
	grid-template-columns: repeat(6, auto);
}

.footer__top-list {
	margin-right: 35px;
}


.footer__top-content {
	display: flex;
	flex-direction: row;
	max-width: 250px;
}

.footer__top-content:nth-child(1) {
display: flex;
flex-direction: column;
}

.footer__top-title {
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.846px;
	margin-bottom: 10px;
	text-transform: uppercase;
	opacity: 0.6;
}
 .footer__logo {
	display: block;
	margin-bottom: 15px;
 }

 .footer__top-text {
	font-family: 'Open Sans';
	font-size: 11px;
	font-weight: 400;
	line-height: 19px; /* 172.727% */
	letter-spacing: 0.85px;
	opacity: .6;
 }

 .footer__top-item {
	display: flex;
	font-family: 'Open Sans';
	font-size: 10px;
	font-weight: 400;
	line-height: 25px; /* 227.273% */
	letter-spacing: 0.846px;
	text-transform: uppercase;
	opacity: .6;
 }
 .footer__top-item2 {
	display: flex;
	font-family: 'Open Sans';
	font-size: 10px;
	font-weight: 400;
	line-height: 16px; /* 227.273% */
	letter-spacing: 0.846px;
	text-transform: uppercase;
	opacity: .6;
 }

 .footer__top-list p.footer__top-item2,
 .footer__top-list li.footer__top-item2 {
	margin-bottom: 10px;
 }

 

 .footer__icons {
	display: flex;
	flex-direction: row;
	column-gap: 25px;
 }

.footer__bottom {
	background: #171819;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__copy {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.846px;
}
